#red {
  border-top-color: #f00;
  height: 50px; /* Set the height of the colored bands */
}

#orange {
  border-top-color: #ffa500;
  height: 50px;
}

#yellow {
  border-top-color: #ff0;
  height: 50px;
}

#green {
  border-top-color: #00bc3f;
  height: 50px;
}

#blue {
  border-top-color: #06f;
  height: 50px;
}

#indigo {
  border-top-color: #8a2be2;
  height: 50px;
}

#violet {
  border-top-color: #d300c9;
  height: 50px;
}
